@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.content {
  &.body {
    &::after, &::before {
      content: "";
      background: url("../images/border-image.png");
      max-width: 800px;
      height: 100px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center top;
      position: relative;
      opacity: .65;
      border-top: 2px solid #fff;
    }
  
    &::before {
      transform: scaleY(-1);
      margin-bottom: 10px;
    }
  }

  &.info {
    text-align: center;
    margin-top: 50px;
  }

}
