@import url("https://fonts.googleapis.com/css2?family=Domine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.content {
  
  h2 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 42px;
    margin: 0;
  }

  .summary {
    text-align: center;
    font-family: "Domine", serif;
    font-size: 18px;
    line-height: 2;
  }
  
}

.home {
  .image {
    max-width: 500px;
  }
}





