@import url("//db.onlinewebfonts.com/c/4267d8aa8711bb8c72cbefb26066c9e0?family=Bookman+Old+Style");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap");

.content {
  
  h2 {
    text-align: center;
    font-family: "Dancing Script", cursive;
    font-size: 42px;
    margin: 0;
  }

  .summary {
    text-align: center;
    font-family: "Bookman Old Style";
    font-size: 18px;
    line-height: 2;
  }
  
}





